

.nav-bar div {
    display: grid;
    grid-template-columns:3rem  auto;
    grid-template-rows: 10rem auto;
    align-items: start;
}

.nav-bar div .img-logo {
    width: 25rem;
    margin-left: 5rem;
}

.nav-bar h2{
  width: 100%;
  margin-left: -2rem;
}